/**
* IMPORTAR ALGUMA FONTE PARA MINHA PAGE
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

/* AQUI VOU DEFINIR NO ROOT ALGUMAS CORES ou VARIÁVEIS DE COLORS */
:root {
    /*  OUTRAS OPÇÕES DE CORES
    --bg--color: #1f242d;  
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #7323d5; 
    */

    --bg--color: #2f0549;
    --segunda-bg-color:#40004e;
    --terceira-bg-color: #323946;
    --text-color: #cbcbcb;
    --main-color: #b770ff;
}

/* IMPORTANTE COLOCAR TODO CSS das TAGS HTML JUNTAS - Fica mais fácil achar  */
html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 25%, rgba(47,5,73,1) 62%, rgba(64,0,78,1) 95%);
    color: var(--text-color);
    /* font-size: 1.6rem;
    overflow: hidden; */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 25%, rgba(47,5,73,1) 62%, rgba(64,0,78,1) 95%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 1px 0px 2px 0px var(--main-color);
}

.logo {
    font-size: 2.7rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Noto Serif Telugu'; */
    color: var(--text-color);
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all .3s ease;
}

.navbar a:hover,
.navbar a.ativo{
    color: var(--main-color);
}

#menu-icone {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.cadastro-context {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.cadastro-context .form {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 43rem;
    height: 57rem;
    border-radius: 12px;
    background-color: var(--text-color);
    /* box-shadow: 10px 9px var(--terceira-bg-color); */
    box-shadow: rgb(38, 57, 77) 25px 25px 30px -10px;
}

.form h1 {
    font-size: 4rem;
    color: var(--bg--color);
    margin-bottom: 8px;
}

.card-forms span {
    display: flex;
    font-size: 2rem;    
    color: var(--bg--color);
    margin-bottom: 5px;
}

.card-forms input {
    display: flex;
    font-size: 2.5rem;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 8px;
    border: 2px solid var(--segunda-bg-color);
}

.card-forms .btn-cadastro {
    display: flex;
    justify-content: center;
    border-radius: 5px;
    font-size: 25px;
    padding: 4px 2px;
    background-color: var(--bg--color);
    box-shadow: 5px 5px var(--terceira-bg-color);
    color: var(--text-color);
    width: 134px;
    align-self: center;
    margin: 14px 0 15px 85px;
}

.card-forms .btn-cadastro:hover {
    color: var(--bg--color);
    background-color: var(--main-color);
    box-shadow: 5px 5px var(--segunda-bg-color);
}


.card-forms .cliqueAqui {
    display: flex;
    justify-content: space-between;
    font-size: 1.9rem;
    color: var(--segunda-bg-color);
}

.card-forms .cliqueAqui a:hover {
    color: var(--main-color);
}

#mensagem_erro {
    font-size: 1.1rem;
    color: var(--main-color);
    font-weight: bold;
    text-align: center;
}


.divAlerta {
    width: 100vw;
    position: relative;

}

.campoAlert {
    position: absolute;
    right: 0%;
    top: -15px;
    width: 500px;
    display: flex;
    border-radius: 4px 0 0 4px;
    padding: 1%;
    font-size: 20px;
    overflow: hidden;
    margin-top: 2%;
    animation: CampoAlert 1s ease forwards;
}

.camposEmBrancoAlert {
    background: #faff9e;
    border-left: 8px solid #b4bd01;
    color: #b4bd01;
}


.camposSenha {
    background: #ffbb6d;
    border-left: 8px solid #bd5f01;
    color: #bd5f01;
}

.camposEmail {
    background: #ffcb9e;
    border-left: 8px solid #bd7501;
    color: #bd7501;
}

.CamposEmProcessoAlert{
    background: #9ef0ff;
    border-left: 8px solid #0175bd;
    color: #0175bd;
}


.TudoCerto {
    background: #b6ff9e;
    border-left: 8px solid #04bd01;
    color: #04bd01;
}

.CampoTudoErradoAlert{
    background: #ff9e9e;
    border-left: 8px solid #bd0101;
    color: #bd0101;
}

.none {
    display: none;
}

.block {
    display: flex;
}

.campoAlert i {
    padding-right: 2%;
}

@keyframes CampoAlert {
    0% {
        transform: translateX(100%);
    }


    25% {

        transform: translateX(-10%);

    }

    75% {

        transform: translateX(0%);

    }

    100% {

        transform: translateX(-10px);

    }

}