/**
* IMPORTAR ALGUMA FONTE PARA MINHA PAGE
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

/* AQUI VOU DEFINIR NO ROOT ALGUMAS CORES ou VARIÁVEIS DE COLORS */
:root {
    /*  OUTRAS OPÇÕES DE CORES
    --bg--color: #1f242d;  
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #7323d5; 
    */

    --bg--color: #2f0549;
    --segunda-bg-color:#40004e;
    --terceira-bg-color: #323946;
    --text-color: #cbcbcb;
    --main-color: #b770ff;
}

/* IMPORTANTE COLOCAR TODO CSS das TAGS HTML JUNTAS - Fica mais fácil achar  */
html {
    font-size: 62.5%;
}

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 25%, rgba(47,5,73,1) 62%, rgba(64,0,78,1) 95%);
    color: var(--text-color);
    /* font-size: 1.6rem;
    overflow: hidden; */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 25%, rgba(47,5,73,1) 62%, rgba(64,0,78,1) 95%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 1px 0px 2px 0px var(--main-color);
}

.logo {
    font-size: 2.7rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Noto Serif Telugu'; */
    color: var(--text-color);
    cursor: default;
}
/* .logo-project {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: default;
} */

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all .3s ease;
}

.navbar a:hover,
.navbar a.ativo{
    color: var(--main-color);
}

#menu-icone {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.navigation {
    margin-top: 8rem;
    position: relative;
    height: 120rem;
    background: rgb(2,0,36);
    width: 66px;
    box-shadow: 4px 0 0 var(--text-color);
    border-left: 10px solid var(rgba(47,5,73,1));
    overflow-x: hidden;
    transition: 0.5s;
}

.navigation:hover {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 30px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--text-color);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 85px;
}

.navigation ul li a .icon i {
    position: relative;
    font-size: 2rem;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li.active {
    background: var(--text-color);
}

.navigation ul li.active a {
    color: var(--terceira-bg-color);
}

.navigation ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(25%, rgba(47,5,73,1) 62%, rgba(64,0,78,1) 95%);
    border-radius: 50%;
    box-shadow: 15px 15px 0 var(--text-color);
}


.navigation ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: linear-gradient(25%, rgba(47,5,73,1) 62%, rgba(64,0,78,1) 95%);
    border-radius: 50%;
    box-shadow: 15px -15px 0 var(--text-color);
}

/* PARTE RESPONSÁVEL PELO CONTROLE FINANCEIRO */


/* PARTE DO SITE QUE FICA O CONTROLE FINANCEIRO */

.page-context {
    display:flex;
}

.cofre-context {
    display: flex;
    justify-content: ;
    margin-top: 14rem;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.page-context h1 {
    font-size: 4rem;
    font-weight: 600;
    color: var(--text-color);
}


.page-context .options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.3rem;
    color: var(--text-color);
    padding: 1rem 1rem;
    box-shadow: 0px 0px 3px var(--main-color);
}

.options .entrada {
    margin-right: 2rem;
    cursor: pointer;
}

.options .saida {
    margin-right: 2rem;
    cursor: pointer;
}

.span-entrada {
    color: #00C9A7;
}

.span-saida {
    color: #FF3F34;
}

.span-total {
    color: var(--main-color);
    font-weight: 500;
    
}


.form-exibir {
    display: flex;
    gap: 10px;
    align-items: end;
    width: 100%;
    font-size: 2.5rem;
    justify-content: center;
    flex-wrap: wrap;
}

.form-exibir input {
    width: 100%;
    height: 34px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
}

.form-exibir #type {
    width: 100%;
    height: 34px;
    border-radius: 5px;
    border: 2px solid var(--main-color);
}

.form-exibir .divDesc {
    margin-top: 23px;
}

.divDesc,
.divType,
.divAmount {
    display: flex;
    flex-direction: column;
}

.form-exibir > button {
    background-color: var(--main-color);
    color: var(--bg--color);
    border: none;
    padding: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    height: 34px;
}

.form-exibir > button:hover {
    background-color: var(--terceira-bg-color);
    color: var(--text-color);
    border: var(--bg--color);
}

input,
select {
    padding: 5px;
}

.divTable {
    width: 70rem;
    height: 30rem;
    font-size: 2rem;
    margin: 10px 0px 20px 0px;
    justify-content: center;
    align-items: center;
}

table {
    flex-direction: column-reverse;
    width: 100%;
    padding: 20px 10px 0px 10px;
    border-radius: 5px;
}

table tr {
    width: 80px;
    height: 5rem;
    font-size: 2rem;
    color: var(--text-color);
    box-shadow: 0px 0px 3px var(--main-color);
}

th {
    text-align: start;
    border-bottom: inset;
    padding: 5px;
}

i {
    font-size: 2.5rem;
    cursor: pointer;
}

.button-lixeira{
    background: transparent;
}

.bx-check-circle {
    color: #00C9A7;
}

.bx-x-circle {
    color: #FF3F34;
}

.columnAction {
    width: 40px;
    text-align: center;
}

.bx-trash {
    color: var(--main-color);
    background-color: var(--bg--color);
}

.columnAmount>button {
    background: transparent;
    border: none;
}

.columnAmount {
    width: 30%;
}

.columnType {
    width: 80px;
    text-align: center;
}





