/**
* IMPORTAR ALGUMA FONTE PARA MINHA PAGE
*/

@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'Poppins', sans-serif;
}

/* AQUI VOU DEFINIR NO ROOT ALGUMAS CORES ou VARIÁVEIS DE COLORS */
:root {
    /*  OUTRAS OPÇÕES DE CORES
    --bg--color: #1f242d;  
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #7323d5; 
    */

    --bg--color: #2f0549;
    --segunda-bg-color:#40004e;
    --terceira-bg-color: #323946;
    --text-color: #cbcbcb;
    --main-color: #b770ff;
}

/* IMPORTANTE COLOCAR TODO CSS das TAGS HTML JUNTAS - Fica mais fácil achar  */
html {
    font-size: 62.5%;
}

body {
    background-color: var(--bg--color);
    color: var(--text-color);
    /* font-size: 1.6rem;
    overflow: hidden; */
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg--color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    box-shadow: 1px 0px 2px 0px var(--main-color);
}

.logo {
    font-size: 2.7rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Noto Serif Telugu'; */
    color: var(--text-color);
    cursor: default;
}
/* .logo-project {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
    cursor: default;
} */

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all .3s ease;
}

.navbar a:hover,
.navbar a.ativo{
    color: var(--main-color);
}

#menu-icone {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.navigation {
    margin-top: 8rem;
    position: relative;
    height: 71.5rem;
    background: var(--text-color);
    width: 70px;
    box-shadow: 10px 0 0 var(--main-color);
    border-left: 10px solid var(--text-color);
    overflow-x: hidden;
    transition: 0.5s;
}

.navigation:hover {
    width: 300px;
}

.navigation ul {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding-left: 5px;
    padding-top: 30px;
}

.navigation ul li {
    position: relative;
    list-style: none;
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;

}

.navigation ul li a {
    position: relative;
    display: flex;
    width: 100%;
    text-decoration: none;
    color: var(--bg--color);
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    min-width: 50px;
    height: 50px;
    text-align: center;
    line-height: 85px;
}

.navigation ul li a .icon i {
    position: relative;
    font-size: 2rem;
    z-index: 1;
}

.navigation ul li a .title {
    position: relative;
    display: block;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
    height: 60px;
    line-height: 60px;
    white-space: nowrap;
}

.navigation ul li.active {
    background: var(--main-color);
}

.navigation ul li.active a::before{
    content: '';
    position: absolute;
    top: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: var(--text-color);
    border-radius: 50%;
    box-shadow: 15px 15px 0 var(--main-color);
}

.navigation ul li.active a::after{
    content: '';
    position: absolute;
    bottom: -30px;
    right: 0;
    width: 30px;
    height: 30px;
    background: var(--text-color);
    border-radius: 50%;
    box-shadow: 15px -15px 0 var(--main-color);
}








