* {
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    scrollbar-width: none;
}

html {
    font-size: 72.5%;
    overflow: hidden;
    scroll-behavior: smooth;
}

:root {
    --bg--color: #2f0549;
    --segunda-bg-color: #40004e;
    --terceira-bg-color: #323946;
    --text-color: #cbcbcb;
    --main-color: #b770ff;
    --bg--color-fraco: #4c0677;
    --bg--color-forte: #820ad1;
}

.header {
    width: 100%;
    padding: 2rem;
    background: var(--bg--color);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    font-size: 2.7rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Noto Serif Telugu'; */
    color: var(--text-color);
    cursor: default;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 3rem;
    transition: all .3s ease;
}

.navbar a:hover,
.navbar a.ativo {
    color: var(--main-color);
}

#menu-icone {
    font-size: 3.6rem;
    color: var(--text-color);
    display: none;
}

.pageContainer {
    display: flex;
    padding-top: 2rem;
    gap: 13rem;
    padding-bottom: 2rem;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid var(--bg--color-forte);
    background-color: var(--bg--color-fraco);
}

.textContainers {
    display: flex;
    flex-direction: column;
    width: 25rem;
    gap: 1rem;
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
}

.textTitle {
    display: flex;
    flex-direction: column;
    width: 25rem;
    font-family: 'Poppins', sans-serif;
}

.textSubtitle {
    display: flex;
    flex-direction: column;
    font-family: 'DM Sans', sans-serif;
    color: var(--main-color);
}

/* .mainButton {
    margin-top: 1rem;
} */

.sobreMimContainer {
    display: flex;
    height: 40rem;
    flex-direction: row;
    align-items: center;
    gap: 8rem;
    border-bottom: 2px solid var(--main-color);
    background-color: var(--bg--color-fraco);
}

.sobreMimImg {
    width: 32rem;
    height: 30rem;
    margin-left: 10rem;
}

.sobreMimText {
    width: 38rem;
    left: 38rem;
    top: 14rem;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    color: var(--main-color);
    gap: 1rem;
}

.sobreMimText-tilulo {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-weight: 700;
    font-size: 2rem;
}

.myJobsContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg--color-fraco);
    border-bottom: 2px solid var(--main-color);
}

.myJobsTextContainer {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.jobsText {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;

}

.jobsText h1 {
    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    margin-block-end: 3rem;
}

.jobsText p {
    color: var(--text-color);
    font-family: 'DM Sans', sans-serif;
    font-size: 1rem;
    height: 8rem;
    width: 38rem;
}

.jobsImage {
    height: 25rem;
}

.footerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg--color-fraco);
    border-top: 2px solid var(--main-color);
    color: var(--text-color);
}

.footerMainContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    margin-top: 2rem;
}